body{
    font-family: "Times New Roman", serif;
}
.info{
    display: flex;
    padding: 20px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
.timer{
    margin-right: 10px;
    font-weight: bold;
    color: red;
    text-align: center;
}
.start{
    padding: 10px;
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: center;
    background: red;

    margin-right: 40px;
}
.score{
    font-weight: bold;
    color: red;
    text-align: center;
}
.field{
    place-content: center;
    width: 600px;
    height: 600px;
    margin: auto;
    padding: 20px;
}
.row{
    margin-top: 5px;
    margin-left: 10px;
}
.cell{
    width: 140px;
    height: 140px;
    background: peru;
    margin-right: 2px;
}
